# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# output files folder
out/

# cmake cache files
CMakeFiles/
cmake_install.cmake
CMakeCache.txt
Makefile

# vsc
.vscode/

# mac
.DS_Store

!./Makefile
